// tslint:disable
/// <reference path="./custom.d.ts" />
{{>licenseInfo}}

{{^withSeparateModelsAndApi}}
import * as globalImportUrl from 'url';
import { Configuration } from './configuration';
import globalAxios, { AxiosPromise, AxiosInstance } from 'axios';
import { BASE_PATH, COLLECTION_FORMATS, RequestArgs, BaseAPI, RequiredError } from './base';

{{^modelsInSeparateFile}}
{{>models}}
{{/modelsInSeparateFile}}{{#modelsInSeparateFile}}import {
{{#models}}
    {{#model}}{{classname}}{{/model}}{{^-last}},{{/-last}}
{{/models}}
} from './types';
{{/modelsInSeparateFile}}
{{#apiInfo}}{{#apis}}
{{>apiInner}}
{{/apis}}{{/apiInfo}}
{{/withSeparateModelsAndApi}}{{#withSeparateModelsAndApi}}
{{#apiInfo}}{{#apis}}{{#operations}}export * from './{{apiPackage}}/{{classFilename}}';
{{/operations}}{{/apis}}{{/apiInfo}}
{{/withSeparateModelsAndApi}}
